.editor{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;

    &.full{
        height: 100vh;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
        user-select: none;
    }

    .scene{
        z-index: 2;
        border: 1px solid #33333320;
        position: relative;

        img {
            max-height: 98vh;
            max-width: 98vh;
            object-fit: contain;
        }
    }
}

.designName{
    display: flex;
    flex-direction: column;

    label {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    input {
        padding: 10px;
        font-size: 1.5rem;
        border: 1px solid #33333320;
        border-radius: 5px;
        margin-bottom: 12px;
    }
}