@font-face {
  font-family: 'After Night';
  src: url('/fonts/After Night.ttf') format('truetype');
}

@font-face {
  font-family: 'Against Refresh';
  src: url('/fonts/against refresh.otf') format('opentype');
}

@font-face {
  font-family: 'Amastery Hand';
  src: url('/fonts/amastery hand.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio Bold';
  src: url('/fonts/Antonio-Bold_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Arizona Bold';
  src: url('/fonts/arizonabold-bold-590fdea484087.ttf') format('truetype');
}

@font-face {
  font-family: 'Artbrush';
  src: url('/fonts/Artbrush.ttf') format('truetype');
}

@font-face {
  font-family: 'Athletic';
  src: url('/fonts/Athletic.TTF') format('truetype');
}

@font-face {
  font-family: 'GROBOLD';
  src: url('/fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
  font-family: 'MJF Zhafira Demo';
  src: url('/fonts/MJF_Zhafira_Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Papa Gnome';
  src: url('/fonts/PapaGnome.otf') format('opentype');
}

@font-face {
  font-family: 'Spicy Rice Regular';
  src: url('/fonts/SpicyRice-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Batuphat Script";
  src: url('/fonts/Batuphat Script.otf') format('opentype');
}


@font-face {
  font-family: "Capitaly Script";
  src: url('/fonts/CapitalyScript.otf') format('opentype');
}


@font-face {
  font-family: "Circus";
  src: url('/fonts/Circus.ttf') format('truetype');
}


@font-face {
  font-family: "Beach Sound";
  src: url('/fonts/BeachSound.otf') format('opentype');
}


@font-face {
  font-family: "DeatheMaach";
  src: url('/fonts/DeatheMaach.otf') format('opentype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
}